html {
    overflow: hidden !important;
}
#__nuxt {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: 100vh;
    overflow: hidden;
}
#__layout {
    height: 100%;
    > section {
        height: 100%;
    }
}